<div class="animation">
    <div class="title">
        Flash Animation
    </div>
    <div class="texts">
        <div class="paragraph">
            Flash is becoming more and more powerful these days making animation possibilities endless. Flash animations
            are great, when done right, in drawing attention to a specific product or service, it also leads your
            potential client to contact you, or even to persuade them with liveliness to continue into your web site.
            Ithelps the website by making it more interesting, attractive, effective, interactive and most important
            EXPRESSIVE.
        </div>
        <div class="paragraph">
            Flash design can be used in creating moving elements, which are then embedded within your web site to add an
            edge to the effectiveness and overall image of your design and message. Flash header or flash based menu
            gives your website a professional and interactive feel without distracting your site visitor. You can also
            use flash in building an entire website. Though full flash websites are not great for search engines, when
            SEO is not a concern such a website could impress a visitor much more than standard html based web sites.
            And now you can provide dynamic interactivity through the use of action scripts.
        </div>
        <div class="paragraph">
            The internet medium has grown very fast which makes it one of the best options for advertising due to its
            dynamic nature and boundless reach. Innovative New Media's skilled team can harness this technology and use
            it to create feature rich presentations that are emotion charged and impactive. Your imagination is the
            only boundary!!
        </div>
    </div>
</div>
