<div class="why-choose">
    <div class="title">
        Why Choose Us?
    </div>
    <div class="texts">
        <div class="paragraph">
            Innovative New Media's team of web professionals have more than 15yrs experience within the web design,
            development and marketing industry. Our skills and technologies include, HTML, CSS, Flash, Javascript, PHP,
            MySQL, DHTML, AJAX, Adobe CS3, Actionscript, CMS, Joomla. We can provide you with complete web solutions
            tailored to your particular project needs.
        </div>
    </div>
</div>
