<div class="about">
    <div class="title">
        Welcome to Innovative New Media!
    </div>
    <div class="texts">
        <div class="paragraph">
            Innovative New Media is a Graphics Design and Web Design and Development company that offers it's clients
            the best quality solutions available. We pride ourselves on our ability to provide our clients with web
            solutions that are both visually appealing and functional.
        </div>
        <div class="paragraph">
            All too often, people invest a lot of time and money into having a web presence only to find that it doesn't
            bring them the benefit that they had expected or any at all. This is usually attributed to the fact that
            the necessary "search engine friendly back-end programming" hasn't been developed resulting in it being lost
            in the sea of millions upon millions of websites on the world wide web and can't be seen or found.
        </div>
        <div class="paragraph">
            This is just one of many reasons why websites don't work.
        </div>
        <div class="paragraph">
            Creating a web presence for you or your business is a process of many factors - graphical design and layout;
            interactivity; SEO; online marketing; just to name a few, and if done incorrectly or if certain factors are
            overlooked then you could be just throwing your hard earned money away.
        </div>
        <div class="paragraph">
            Innovative New Media strives to find a balance of style, creativity, technology and marketing to build you
            a website that is effective in everyway. Beauty and Beast all rolled into one.
        </div>
        <div class="paragraph">
            The team of developers and designers at Innovative New Media is made up of people with years of experience
            in their respective field whether it be Graphic Design, Programming, Marketing, Animation or SEO.
        </div>
        <div class="paragraph">
            We are confident that we can provide you with Effective Web Solutions that work to bring you and your
            customers a great web experience.
        </div>
        <div class="paragraph">
            Hope to hear from you soon
        </div>
        <div class="paragraph">
            THE TEAM - INNOVATIVE NEW MEDIA
        </div>
    </div>
</div>
