<div class="development">
    <div class="title">
        Web Development
    </div>
    <div class="texts">
        <div class="paragraph">
            People are looking for quality websites that can help promote their business or company, and increase its
            sales and profits tremendously. This can range from developing the simplest static single page of plain text
            to the most complex web-based internet applications, electronic businesses or social network services called
            Web Development.
        </div>
        <div class="paragraph">
            Web Development is the art of making websites that do things!! It is used in describing the programming
            required to construct the back end of a website. Back end is the area of the website that is not viewable
            by visitors, but the one that does the work required in order to present the right information in the
            correct format to the visitors.
        </div>
        <div class="paragraph">
            Although this process in not really visible to the visitors of the websites, it is a vital experience for
            the visitors while browsing the website, for example, we can optimize and dramatically reduce loading times,
            so that visitors can access anything quickly and without frustration.
        </div>
        <div class="paragraph">
            Web  development also involves taking ideas and design from web design, and  implementing the request.
            We analyze the desired design and discuss if  the requested designes are feasible or not. Some clients may
            have too  much expectation for the technology and may end up requesting something that is artistically great
            but functionally incapable, we would need to  discuss and decide how we can create and alter the design
            without impacting the overall look and feel of the website or application too much.
        </div>
        <div class="paragraph">
            Our primary concern is making a website function quickly, efficiently, and with great stability. We oversee
            and direct the construction of the website, we build the backbone of the website, and make sure that it is
            functioning properly.
        </div>
        <div class="paragraph">
            Typically, our team will be responsible for developing and coding server side applications, databases,
            complex e-commerce transactions, and for <a [routerLink]="['/seo']">search engine optimization</a> &ndash;
            naturally, we make certain that these are done in an accessible and sensible fashion, while being
            efficiently coded and highly compatible.
        </div>
    </div>
</div>
