<div class="graphic">
    <div class="title">
        Graphic Design
    </div>
    <div class="texts">
        <div class="paragraph">
            In spite of what business you have, a good and effective graphic identity is one of the most important
            element. It can help you attain global recognition and even help you market your products and services.
            Identity development needs a creative graphic designing to implement the company's goals,
            philosophy & services in right direction.
        </div>
        <div class="paragraph">
            Graphic design is the process and art of combining text and graphics to communicate an effective message
            in the design of logos, templates, graphics, brochures, newsletters, posters, signs, and any other type of
            visual communication.
        </div>
    </div>
</div>
