<div class="design">
    <div class="title">
        Web Design
    </div>
    <div class="texts">
        <div class="paragraph">
            In surfing the internet, one of the the first things that people notice  is the website design. Just as
            an attractive storefront at your local  mall or shopping center can attract more customers, a well
            designed, exciting and attractive website adds more appeal to visitors and  potential clients and it
            makes them want to find out what you offer or  what you're site is all about.
        </div>
        <div class="paragraph">
            Web design is the art of making a visually appealing website with functional usability. Thats exactly what
            our team can do for you. We design great looking websites that are functional and user friendly.
        </div>
        <div class="paragraph">
            We also understand the clients needs and priorities and come up with an idea that will suit the client's
            application or business. We take time to analyze the colors and the layout in accordance to how the clients
            market themselves, their organization values, and the 'wishlists' they may already have in mind.
        </div>
        <div class="paragraph">
            Innovative New Media is concerned with the visual aspect of the website &ndash; we know  and understand what
            colors, fonts, images, and page layouts are the  most aesthetically pleasing, and employ both artistic
            merits and  artistic experience to make the website as attractive as possible. We  understand the visual
            aspects of marketing, and what drives a person to  react to visual stimulation &ndash; essentially, we know what
            looks good, and  know how to visually enhance your website.
        </div>
        <div class="paragraph">
            In essence, we at Innovative New Media can assure you that our team of professionals can meet your online
            goals and effectively establish your online presence on the world wide web. However, what is visually
            appealing is not always the most efficient and stable means to communicate a message and promote yourself,
            there are other factors that you also need to consider. Effectively, this is where our
            <a [routerLink]="['/development']">web developer</a> and
            <a [routerLink]="['/seo']">seo specialists</a> step in to help you.
        </div>
    </div>
</div>
