<div class="any">
    <div class="title">
        Cyrcury ted frcas
    </div>
    <div class="texts">
        <div class="paragraph">
            “If something can go wrong it will go wrong” It’s one of the main Murphy's laws. When you run a company and
            store some user’s information it can be hacked. The reality teaches us that can means will. Your business
            protections should be a priority number one all the time. To help you here, we’ve gathered the most
            effective practices to protect you and all your customers from a cyber attack.
        </div>
        <div class="paragraph">
            But at first, take a look at the recent statistics which illustrates the true situation in the modern world.
        </div>
        <div class="paragraph">
            <img alt="Cyrcury ted frcas" [src]="deployUrl + '/assets/images/Cyrcury-ted-frcas.png'" />
        </div>
        <div class="paragraph">
            The statistical facts, which we’ve listed below, are really shocking. Nevertheless, this is the only way to
            demonstrate you how bad the situation really is.
        </div>
        <div class="paragraph">
            Every 39 seconds there’s a hacking attack somewhere in the world. More than 43% of all cyber attacks
            targeted small business! $1,077 is the average amount demanded after a ransomware attack. 400,000 malicious
            programs are registered every day. If we calculate the general number, it will be 700 million of such
            programs to date.
        </div>
        <div class="paragraph">
            7 out of 10 organizations say their security risk increased significantly in 2017. 1 in 131 emails contains
            a malware. 3 billion of Yahoo accounts hacked for the last few years. 40% is a year over year increase rate
            in mobile cyber attacks. 65% of the best US banks failed a security test. 40% of victims paid to unlock
            their devices after a cyber attack.
        </div>
        <div class="paragraph">
            Now, the funniest fact: the most popular password in 2017 was 123456. Number two in the list is password.
        </div>
        <div class="paragraph">
            With such a cybercrime rate it’s not a surprise that more than $85 billions were spent on the information
            security in 2017 due to a rising danger. It was estimated that the damage of cyber crimes will have reached
            $6 trillion annually by 2021. If we compare this matric to 2015, we’ll see a twice less number.
        </div>
        <div class="paragraph">
            Infosecurity, a trustful ten years old magazine, has even worse predictions for the future in the
            cybersecurity field. The source sees the deterioration in a few sections. And the first one is:
        </div>
        <div class="paragraph">
            Ransomware. It is believed that after random attacks, ransomware will focus more on some targeted victims.
            And one of the first to suffer would be medical devices which help to sustain vital signs of a person’s
            life. Heart pacemaker, for instance. Under such conditions, people would have to pay not because they want
            to save their gadgets but to save their lives.
        </div>
        <div class="paragraph">
            Breaches. The problem of data breaches will be critical in the following few years. We can make such a
            conclusion due to the events which took place in 2017. For instance,  Equifax, an American customer credit
            reporting agency which collects and stores information on more than 800 million clients, reported about
            multiple data breaches in 2017. Moreover, many of them could be easily avoided. The breaches were the
            results of neglection and led to a cybersecurity catastrophe of the epic scale. As a result, we see the
            dramatic increase of identity thefts in the USA for the previous years.
        </div>
        <div class="paragraph">
            <img alt="Screenshot #1" [src]="deployUrl + '/assets/images/Screenshot_1.png'" />
        </div>
        <div class="paragraph">
            What frightens us more is that even government can’t protect personal data of people. Last year personal
            data of more than 200 million American voters leaked online. The breach included personal information of
            nearly every registered voter in the country!
        </div>
        <div class="paragraph">
            Apart from these, there were too many breaches to report about. Yet, this information shows how vulnerable
            all customers are and how low the cybersecurity protection level is in the majority of modern companies.
        </div>
        <div class="paragraph">
            Watch our video about Mobile App and Data Security in Android
        </div>
    </div>
</div>

