<div class="home">
    <div class="heading">
        <img class="image" [src]="deployURL + '/assets/images/welcome.gif'" />
        <img class="image" [src]="deployURL + '/assets/images/finance.png'" alt="Financial ecotor pnd dict lvng cess" />
        <!--<div class="text">-->
            <!--Innovative New Media is a Graphics Design and Web Design and Development company that offers it's clients-->
            <!--the best quality solutions available. We pride ourselves on our ability to provide our clients with-->
            <!--web solutions that are both visually appealing and functional.-->
        <!--</div>-->
        <!--<div class="text">-->
            <!--It’s almost a month after the national referendum in the UK showed that over a half of the British citizens-->
            <!--support Britain’s leaving the European Union. The so-called Brexit has provoked hot discussions around-->
            <!--possible impact on global economy and business long before the voting even took place.-->
        <!--</div>-->
        <!--<div class="text">-->
            <!--So, the instant consequences Europe and the whole world experienced during this month were rather-->
            <!--predictable: world markets plunged, pound sterling went into a nosedive, Prime Minister David Cameron-->
            <!--announced his resignation. All these factors led to the overall perplexity in the business area.-->
        <!--</div>-->
        <!--<div class="text">-->
            <!--All too often, people invest a lot of time and money into having a web presence only to find that it doesn't-->
            <!--bring them the benefit that they had expected or any at all. This is usually attributed to the fact that-->
            <!--the necessary "search engine friendly back-end programming" hasn't been developed resulting in it being-->
            <!--lost in the sea of millions upon millions of websites on the world wide web and can't be seen or found.....-->
            <!--<a class="more" [routerLink]="['/about']">more...</a>-->
        <!--</div>-->
    </div>

    <div class="sections-container">
        <div class="section design">
            <img class="title" [src]="deployURL + '/assets/images/title1.gif'" />
            <div class="content">
                <img [src]="deployURL + '/assets/images/img1.png'" alt="Design of online store" />
                <span class="text">
                    Whether you require a simple one page website to promote a single product or service or a complete
                    online store, Innovative New Media can help you. Our team of web professionals can...
                    <a class="more" [routerLink]="['/design']">more...</a>
                </span>
            </div>
        </div>

        <div class="section design">
            <img class="title" [src]="deployURL + '/assets/images/title2.gif'" />
            <div class="content">
                <img [src]="deployURL + '/assets/images/img2.png'" alt="Development and hosting" />
                <span class="text">
                    Innovative New Media are proud to announce the launch of our own website hosting service. We have
                    partnered with one of the best domain hosting services in the world.....
                    <a class="more" [routerLink]="['/development']">more...</a>
                </span>
            </div>
        </div>

        <div class="section design">
            <img class="title" [src]="deployURL + '/assets/images/title3.gif'" />
            <div class="content">
                <img [src]="deployURL + '/assets/images/img3.png'" alt="Reasons of choosing INM" />
                <span class="text">
                    Innovative New Media's team of web professionals have more than 15yrs experience within the web
                    design, development and marketing industry. Our skills and technologies include, HTML, CSS, Flash,......
                    <a class="more" [routerLink]="['/why-choose']">more...</a>
                </span>
            </div>
        </div>

        <div class="section design">
            <img class="title" [src]="deployURL + '/assets/images/title4.gif'" />
            <div class="content">
                <img [src]="deployURL + '/assets/images/img4.png'" alt="Search engines explained" />
                <span class="text">
                    One of the very important things relating to web sites are Search Engines. What are search engines
                    anyway? Search Engines are programs used to provide internet users with search facility...
                    <a class="more" [routerLink]="['/seo']">more...</a>
                </span>
            </div>
        </div>
    </div>
</div>
