<div class="marketing">
    <div class="title">
        Online Marketing
    </div>
    <div class="texts">
        <div class="paragraph">
            With the increasing number of websites this days the need of having effective strategies to get people to
            find your site is really needed. One of the effective strategy is called Online Marketing. Online marketing
            is a critical component in the overall marketing strategy for many successful companies, large or small.
            Online Marketing been proven to be the most cost effective investment in capturing targeted product
            inquiries and online sales, resulting in a growth for your bottom line and your business. Online Marketing
            is a billion dollar industry. Most people which ever part of the world uses search engine in buying products
            and services online, they spend more and more money and time online. It overtakes all the traditional
            means of advertising.
        </div>
        <div class="paragraph">
            Innovative New Media has been using this strategy for years. We make sure that potential customers and
            clients find you easily in web searches. Our team of experienced professionals can assure you that your
            investment in our Online Marketing will surely bring you to the top and will help you increase your
            customer and profits.
        </div>
    </div>
</div>
